<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>612076521167-7rt6fofqk8iu5isq1vk31dcdttvn1jlv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.612076521167-7rt6fofqk8iu5isq1vk31dcdttvn1jlv</string>
	<key>API_KEY</key>
	<string>AIzaSyCy8kpHYUnaAu7R025lkhvfCOoflmda8Eo</string>
	<key>GCM_SENDER_ID</key>
	<string>612076521167</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.wherenextapp</string>
	<key>PROJECT_ID</key>
	<string>wherenext-2b07e</string>
	<key>STORAGE_BUCKET</key>
	<string>wherenext-2b07e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:612076521167:ios:8bbd9642d758ae27c499ba</string>
	<key>DATABASE_URL</key>
	<string>https://wherenext-2b07e.firebaseio.com</string>
</dict>
</plist>